[tools]
lefthook = "2.1.1"
rust = "1.93.1"
watchexec = "2.3.3"

[tasks.check]
depends = ["check:*"]

[tasks."check:lint"]
run = "cargo clippy --all-targets"

[tasks."check:format"]
run = "cargo fmt --all --check"

[tasks.dev]
run = "watchexec -r -w target/release/work --no-vcs-ignore -- target/release/work daemon start --debug"

[[tasks.fix.run]]
task = "fix:format"

[[tasks.fix.run]]
task = "fix:lint"

[tasks."fix:lint"]
run = "cargo clippy --fix --all-targets --allow-dirty"

[tasks."fix:format"]
run = "cargo fmt --all"

[tasks.test]
run = "cargo test"

[tasks."release:local"]
run = [
  "cargo build --release",
  "install target/release/work $HOME/.local/bin/work"
]
